//Grid breakpoints

img-path = "../images/"
font-path = "../fonts/"

font-OpenSans = 'Open Sans', sans-serif

grid-columns-count = 12
grid-mobile-xs = 468px
grid-mobile = 784px
grid-tablet = 785px
grid-desktop = 1040px