/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$i_facebook_hover_name = 'i-facebook-hover';
$i_facebook_hover_x = 33px;
$i_facebook_hover_y = 0px;
$i_facebook_hover_offset_x = -33px;
$i_facebook_hover_offset_y = 0px;
$i_facebook_hover_width = 33px;
$i_facebook_hover_height = 33px;
$i_facebook_hover_total_width = 116px;
$i_facebook_hover_total_height = 99px;
$i_facebook_hover_image = '../images/sprites.png';
$i_facebook_hover = 33px 0px -33px 0px 33px 33px 116px 99px '../images/sprites.png' 'i-facebook-hover';
$i_facebook_name = 'i-facebook';
$i_facebook_x = 66px;
$i_facebook_y = 33px;
$i_facebook_offset_x = -66px;
$i_facebook_offset_y = -33px;
$i_facebook_width = 33px;
$i_facebook_height = 33px;
$i_facebook_total_width = 116px;
$i_facebook_total_height = 99px;
$i_facebook_image = '../images/sprites.png';
$i_facebook = 66px 33px -66px -33px 33px 33px 116px 99px '../images/sprites.png' 'i-facebook';
$i_google_hover_name = 'i-google-hover';
$i_google_hover_x = 0px;
$i_google_hover_y = 33px;
$i_google_hover_offset_x = 0px;
$i_google_hover_offset_y = -33px;
$i_google_hover_width = 33px;
$i_google_hover_height = 33px;
$i_google_hover_total_width = 116px;
$i_google_hover_total_height = 99px;
$i_google_hover_image = '../images/sprites.png';
$i_google_hover = 0px 33px 0px -33px 33px 33px 116px 99px '../images/sprites.png' 'i-google-hover';
$i_google_name = 'i-google';
$i_google_x = 33px;
$i_google_y = 33px;
$i_google_offset_x = -33px;
$i_google_offset_y = -33px;
$i_google_width = 33px;
$i_google_height = 33px;
$i_google_total_width = 116px;
$i_google_total_height = 99px;
$i_google_image = '../images/sprites.png';
$i_google = 33px 33px -33px -33px 33px 33px 116px 99px '../images/sprites.png' 'i-google';
$i_pin_hover_name = 'i-pin-hover';
$i_pin_hover_x = 66px;
$i_pin_hover_y = 0px;
$i_pin_hover_offset_x = -66px;
$i_pin_hover_offset_y = 0px;
$i_pin_hover_width = 33px;
$i_pin_hover_height = 33px;
$i_pin_hover_total_width = 116px;
$i_pin_hover_total_height = 99px;
$i_pin_hover_image = '../images/sprites.png';
$i_pin_hover = 66px 0px -66px 0px 33px 33px 116px 99px '../images/sprites.png' 'i-pin-hover';
$i_pin_name = 'i-pin';
$i_pin_x = 0px;
$i_pin_y = 0px;
$i_pin_offset_x = 0px;
$i_pin_offset_y = 0px;
$i_pin_width = 33px;
$i_pin_height = 33px;
$i_pin_total_width = 116px;
$i_pin_total_height = 99px;
$i_pin_image = '../images/sprites.png';
$i_pin = 0px 0px 0px 0px 33px 33px 116px 99px '../images/sprites.png' 'i-pin';
$i_twitter_hover_name = 'i-twitter-hover';
$i_twitter_hover_x = 0px;
$i_twitter_hover_y = 66px;
$i_twitter_hover_offset_x = 0px;
$i_twitter_hover_offset_y = -66px;
$i_twitter_hover_width = 33px;
$i_twitter_hover_height = 33px;
$i_twitter_hover_total_width = 116px;
$i_twitter_hover_total_height = 99px;
$i_twitter_hover_image = '../images/sprites.png';
$i_twitter_hover = 0px 66px 0px -66px 33px 33px 116px 99px '../images/sprites.png' 'i-twitter-hover';
$i_twitter_name = 'i-twitter';
$i_twitter_x = 33px;
$i_twitter_y = 66px;
$i_twitter_offset_x = -33px;
$i_twitter_offset_y = -66px;
$i_twitter_width = 33px;
$i_twitter_height = 33px;
$i_twitter_total_width = 116px;
$i_twitter_total_height = 99px;
$i_twitter_image = '../images/sprites.png';
$i_twitter = 33px 66px -33px -66px 33px 33px 116px 99px '../images/sprites.png' 'i-twitter';
$i_dropdown_name = 'i-dropdown';
$i_dropdown_x = 99px;
$i_dropdown_y = 27px;
$i_dropdown_offset_x = -99px;
$i_dropdown_offset_y = -27px;
$i_dropdown_width = 11px;
$i_dropdown_height = 6px;
$i_dropdown_total_width = 116px;
$i_dropdown_total_height = 99px;
$i_dropdown_image = '../images/sprites.png';
$i_dropdown = 99px 27px -99px -27px 11px 6px 116px 99px '../images/sprites.png' 'i-dropdown';
$i_next_name = 'i-next';
$i_next_x = 66px;
$i_next_y = 66px;
$i_next_offset_x = -66px;
$i_next_offset_y = -66px;
$i_next_width = 17px;
$i_next_height = 27px;
$i_next_total_width = 116px;
$i_next_total_height = 99px;
$i_next_image = '../images/sprites.png';
$i_next = 66px 66px -66px -66px 17px 27px 116px 99px '../images/sprites.png' 'i-next';
$i_prev_name = 'i-prev';
$i_prev_x = 99px;
$i_prev_y = 0px;
$i_prev_offset_x = -99px;
$i_prev_offset_y = 0px;
$i_prev_width = 17px;
$i_prev_height = 27px;
$i_prev_total_width = 116px;
$i_prev_total_height = 99px;
$i_prev_image = '../images/sprites.png';
$i_prev = 99px 0px -99px 0px 17px 27px 116px 99px '../images/sprites.png' 'i-prev';
$spritesheet_width = 116px;
$spritesheet_height = 99px;
$spritesheet_image = '../images/sprites.png';
$spritesheet_sprites = $i_facebook_hover $i_facebook $i_google_hover $i_google $i_pin_hover $i_pin $i_twitter_hover $i_twitter $i_dropdown $i_next $i_prev;
$spritesheet = 116px 99px '../images/sprites.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
